@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.navbar-brand img {
   height: 35px;
}
.navbar-brand {
   height: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color:#4A4A4A; /* numpy.org body color */
}

